body {
    text-align: center;
    background: url('./asset/Fondo 3.jpg');
    
    overflow: hidden;
    margin: 0;
}
/* # is used to target ids in HTML */
canvas {
    background: url('./asset/Stones.png');
    /* margin-left: 30px;
       margin-top: 30px; */
}
